@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "El Verdadero";
    ViewBag.name = "True Fullmer";
}

<body>
    <img class="pic" src="~/img/Board walk.jpg" />

    <br />

    <p class="main">
        This semester I really want to perfect my skiils as it comes to web dev.;
        this is the part of IS that really sold me on signing up for the major.
        I love to make things that I can see and be proud of. I think the things that we
        will do in this class is the closest we get to being carpenters.
    </p>

    <br />

    <p class="jobs">
        Here are the top three jobs that I am most interested in!
        <br />

        <ul>
            <li>
                Special Agent in the FBI
            </li>

            <li>
                Officer in the Army Acquisition Workforce
            </li>

            <li>
                CIA Agent
            </li>
        </ul>
    </p>

    <br />
</body>